.product-detail {
    .product-detail-image {
        width: 100%;
        height: auto;
        min-height: 300px;
        max-height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .product-detail-user {
        padding: 10px;
        display: flex;

        .product-user-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size:cover !important;
            background-repeat:no-repeat !important;
        }

    }


    .product-info {
        text-align: left;
        padding: 10px;

        .product-info-category {
            font-size: 0.8rem;
            color: gray;
        }
    }

    .product-user-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        flex: 1;

        .product-user-price {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .product-user-icon {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .product-detail-content {
        height: auto;
        min-height: 200px;
        max-height: 700px;
        word-break: keep-all;
        text-align: left;
        padding: 10px;
    }
}