.product-detail {
    .product-detail-image {
        width: 100%;
        min-height: 500px;
        max-height: 700px;
        background:gray;
    }

    .product-detail-user {
        padding: 10px;
        display: flex;

        .product-user-image {
            width: 70px;
            height: 70px;
        }
    }

    .product-user-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding:5px;
        .product-user-price {
            width:100%;
            display:flex;
            justify-content: space-between;
        }
    }

    .product-user-icon {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .product-detail-content {
        min-height: 500px;
        max-height: 700px;
        word-break: keep-all;
        text-align: left;
        padding: 10px;
    }
}