.App {
  text-align: center;
}

Link{outline:0; text-decoration:none;}

.item-container {
  height:calc( 100vh - 112px );
  overflow-y:scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.move-upload-page {
  position:fixed;
  right:10px;
  bottom:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
